ul {
    list-style-type: none;
    margin: 0;
}
  
.gallery {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}
  
.gallery-image {
    width: 360px;
    height: 200px;
    transition: transform 0.5s;
}
  
.gallery-image:hover {
    transform: scale(1.05);
}